/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--text-weight);
  background-image: repeating-linear-gradient(var(--main-background-to-right)), repeating-linear-gradient(var(--main-background-to-top)), linear-gradient(var(--main-background-color));
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 49px;
}

.header {
  display: flex;
  width: var(--block-size-width);
  height: var(--block-header-size-height);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  font-family: var(--accent-font);
  gap: 20px;
  margin: 100px 0 100px 0;
}

.title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vi, 4.063rem);
}

.subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
  text-transform: uppercase;
}

.card {
  width: var(--block-size-width);
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.card-title {
  font-weight: 715;
  font-size: 18px;
  padding: 4px 10px 4px 10px;
  font-variation-settings: "wght" var(--card-weight);
}

.border {
  border: 2px var(--main-color) solid;
}

.card-img {
  border-top: 2px var(--main-color) solid;
  border-bottom: 2px var(--main-color) solid;
  width: 100%;
}

.container-img {
  position: relative;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
}

.button {
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: var(--accent-font);
  font-size: 14px;
}

.button-reset {
  border: none;
  padding: 0;
  background-color: initial;
  cursor: pointer;
}

.buttons-like {
  align-self: flex-end;
  width: 169px;
  gap: 12px;
  justify-content: space-between;
}

.buttons-like span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 38px;
  border: 2px solid var(--main-color);
}

.button-save {
  justify-content: center;
  flex-direction: column;
  width: 306px;
  background-color: #FFFFFF;
  height: 84px;
  gap: 8px;
  border: 2px solid var(--main-color);
}

.button-save svg {
  width: 28px;
  height: 28px;
}

.label {
  position: absolute;
  top: 30px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:
    -1px 0 #FFFFFF,
    1px 0 #FFFFFF,
    0 -1px #FFFFFF,
    0 1px #FFFFFF;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index: 1;
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  width: 341px;
  height: 191px;
}

.dialog[open] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog svg {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.dialog-text {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-family: var(--accent-font);
  width: 261px;
  height: 63px;
}

.dialog-text p {
  line-height: 1.5;
}

.dialog-button {
  width: 261px;
  height: 38px;
  border: 2px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}


.filter-saturate {
  filter: saturate(150%);
}

.filter-hue-rotate {
  filter: hue-rotate(120deg);
}

.filter-sepia {
  filter: sepia(80%) hue-rotate(306deg) saturate(180%);
}

.filter-invert {
  filter: invert(0.3) saturate(130%);
}

.filter-blur-grayscale {
  filter: blur(0.2rem) grayscale(0.85); /*изображение по краям блюрится. Не забудь исправить*/
}

.filter-grayscale-sepia {
  filter: grayscale(0.5) sepia(50%);
}

.filter-sepia-saturate {
  filter: sepia(60%) saturate(158%) contrast(120%);
}

@media (width > 375px) {
  .main {
    gap: 46px;
  }

  .button-save {
    flex-direction: row;
    width: 335px;
    height: 55px;
  }
}